In [101]:
import sqlite3
import pandas as pd
con = sqlite3.connect(r"C:\\Users\Lenovo\Desktop\PROJECT\nfl.db")
df = pd.read_sql_query("SELECT season,avg(home_score) as home_score,avg(away_score) as away_score,avg(temp) as temp,avg(humidity) as humidity FROM 'game_info'  group by season", con)
df.to_csv('game_info.csv')
df

    season  home_score  away_score  temp  humidity
0     2002          23          21    61        58
1     2003          23          19    61        60
2     2004          23          20    60        58
3     2005          22          19    62        54
4     2006          21          20    61        54
5     2007          23          20    61        58
6     2008          23          21    61        60
7     2009          23          20    60        59
8     2010          23          21    59        50
9     2011          24          21    62        48
10    2012          24          22    61        57
11    2013          25          22    61        59
12    2014          24          21    61        53
13    2015          23          22    62        57
14    2016          24          21    62        57
15    2017          23          21    61       nan
16    2018          24          22    62       nan

In [102]:
df1 = pd.read_sql_query("SELECT * FROM 'team_roster' where season >= 2002 order by season", con)
df1.to_csv('team_roster.csv')
df1

,season,team,player_id,player_name,position,uniform_number,games_played,games_started,pfr_approx_value,experience,age,birth_date,height,weight,college,draft_info,salary
0,2002,atl,AmbrAs00,Ashley Ambrose,RCB,33,16,16,7,10.0,32,9/17/1970,5-11,190,missvalleyst,Indianapolis Colts / 2nd / 29th pick / 1992,nan
1,2002,atl,BiblMa20,Martin Bibla,LG,64,10,0,1,Rook,23,10/4/1979,6-3,306,miami(fl),Atlanta Falcons / 4th / 116th pick / 2002,nan
2,2002,atl,BoldJu20,Juran Bolden,LCB,21,14,6,4,6.0,28,6/27/1974,6-2,207,mississippideltacc,Atlanta Falcons / 4th / 127th pick / 1996,nan
3,2002,atl,BrooKe00,Keith Brooking,LB,56,16,16,14,4.0,27,10/30/1975,6-2,245,georgiatech,Atlanta Falcons / 1st / 12th pick / 1998,nan
4,2002,atl,BuchRa00,Ray Buchanan,LCB,34,12,11,5,9.0,31,9/29/1971,5-9,186,louisville,Indianapolis Colts / 3rd / 65th pick / 1993,nan
5,2002,atl,CarpKe20,Keion Carpenter,FS,29,16,16,8,3.0,25,10/31/1977,5-11,205,virginiatech,None,nan
6,2002,atl,CartJo22,Johndale Carty,LB,35,16,1,2,3.0,25,8/27/1977,6-0,196,utahst,Atlanta Falcons / 4th / 126th pick / 1999,nan
7,2002,atl,ChiaDa00,Darrin Chiaverini,WR,82,7,0,0,3.0,25,10/12/1977,6-2,210,colorado,Cleveland Browns / 5th / 148th pick / 1999,nan
8,2002,atl,ChriBo00,Bob Christian,FB,44,15,10,3,10.0,34,11/14/1968,5-11,226,northwestern,Atlanta Falcons / 12th / 310th pick / 1991,nan
9,2002,atl,ClarTr20,Travis Claridge,LG,71,16,16,9,2.0,24,3/23/1978,6-5,300,usc,Atlanta Falcons / 2nd / 37th pick / 2000,nan
10,2002,atl,CrumAl00,Alge Crumpler,TE,83,16,9,5,1.0,25,12/23/1977,6-2,262,nocarolina,Atlanta Falcons / 2nd / 35th pick / 2001,nan
11,2002,atl,DrafCh20,Chris Draft,LB,54,15,5,5,4.0,26,2/26/1976,5-11,232,stanford,Chicago Bears / 6th / 157th pick / 1998,nan
12,2002,atl,DuckT.00,T.J. Duckett,FB,45,12,3,4,Rook,21,2/17/1981,6-0,254,michiganst,Atlanta Falcons / 1st / 18th pick / 2002,nan
13,2002,atl,DunnWa00,Warrick Dunn,RB,28,15,14,10,5.0,27,1/5/1975,5-9,180,floridast,Tampa Bay Buccaneers / 1st / 12th pick / 1997,nan
14,2002,atl,feelyjay01,Jay Feely,K,4,16,0,4,1.0,26,5/23/1976,5-10,206,michigan,None,nan
15,2002,atl,FinnBr00,Brian Finneran,WR,86,16,16,9,3.0,26,1/31/1976,6-5,210,villanova,None,nan
16,2002,atl,FlemRo20,Ronald Flemons,DE,77,4,0,0,1.0,23,10/20/1979,6-5,265,texasam,Atlanta Falcons / 7th / 226th pick / 2001,nan
17,2002,atl,FornKy20,Kynan Forney,RG,65,14,12,7,1.0,24,9/8/1978,6-3,307,hawaii,Atlanta Falcons / 7th / 219th pick / 2001,nan
18,2002,atl,GarzRo20,Roberto Garza,RG,63,6,4,2,1.0,23,3/26/1979,6-2,296,texasamkingsville,Atlanta Falcons / 4th / 99th pick / 2001,nan
19,2002,atl,GaylTr00,Trevor Gaylor,WR,81,13,2,4,2.0,25,11/3/1977,6-3,195,miami(oh),San Diego Chargers / 4th / 111th pick / 2000,nan
20,2002,atl,GibsDa00,Damon Gibson,WR,87,1,0,0,4.0,27,2/25/1975,5-9,180,iowa,None,nan
21,2002,atl,HallTr20,Travis Hall,DE,98,11,1,2,7.0,30,8/3/1972,6-5,295,byu,Atlanta Falcons / 6th / 181st pick / 1995,nan
22,2002,atl,HeatRo20,Rodney Heath,LCB,25,1,0,0,3.0,28,10/29/1974,5-10,175,minnesota,None,nan
23,2002,atl,HillKa20,Kahlil Hill,WR,87,1,0,0,Rook,23,3/18/1979,6-2,200,iowa,Atlanta Falcons / 6th / 184th pick / 2002,nan
24,2002,atl,HoleJo20,John Holecek,LB,59,12,11,5,7.0,30,5/7/1972,6-2,240,illinois,Buffalo Bills / 5th / 144th pick / 1995,nan
25,2002,atl,JackWi00,Willie Jackson,WR,80,7,1,2,7.0,31,8/16/1971,6-1,212,florida,Dallas Cowboys / 4th / 109th pick / 1994,nan
26,2002,atl,JaspEd20,Ed Jasper,NT,95,16,16,7,5.0,29,1/18/1973,6-2,293,texasam,Philadelphia Eagles / 6th / 198th pick / 1997,nan
27,2002,atl,JeffSh00,Shawn Jefferson,WR,84,13,7,4,11.0,33,2/22/1969,5-11,185,centralflorida,Houston Oilers / 9th / 240th pick / 1991,nan
28,2002,atl,JervTr00,Travis Jervey,RB,36,6,0,0,7.0,30,5/5/1972,6-0,222,thecitadel,Green Bay Packers / 5th / 170th pick / 1995,nan
29,2002,atl,JohnDo00,Doug Johnson,QB,11,6,1,2,2.0,25,10/27/1977,6-2,225,florida,None,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33706,2018,was,MoreFa00,Fabian Moreau,CB,31,16,10,4,1.0,24,4/9/1994,6-0,200,ucla,Washington Redskins / 3rd / 81st pick /2017,"588,000"
33707,2018,was,MoseMo00,Morgan Moses,T,76,16,16,8,4.0,27,3/3/1991,6-6,335,virginia,Washington Redskins / 3rd / 66th pick /2014,"3,250,000"
33708,2018,was,NichMo00,Montae Nicholson,SS,35,14,7,3,1.0,23,12/4/1995,6-2,215,michiganst,Washington Redskins / 4th / 123rd pick /2017,"555,000"
33709,2018,was,NormJo01,Josh Norman,CB,24,16,16,7,6.0,31,12/15/1987,6-0,200,coastalcarolina,Carolina Panthers / 5th / 143rd pick /2012,"13,300,000"
33710,2018,was,NsekTy00,Ty Nsekhe,T,79,14,5,3,6.0,33,10/27/1985,6-8,330,texasst,None,"2,914,000"
33711,2018,was,ParrTi00,Timon Parris,T,61,1,0,0,Rook,23,9/11/1995,6-6,315,Stony Brook,None,"129,200"
33712,2018,was,PaynDa00,Daron Payne,NT,95,16,16,8,Rook,21,5/27/1997,6-3,319,alabama,Washington Redskins / 1st / 13th pick /2018,"480,000"
33713,2018,was,PeriSa00,Samaje Perine,RB,32,5,0,0,1.0,23,9/16/1995,5-11,233,oklahoma,Washington Redskins / 4th / 114th pick /2017,"555,000"
33714,2018,was,PeteAd01,Adrian Peterson,RB,26,16,16,7,11.0,33,3/21/1985,6-1,220,oklahoma,Minnesota Vikings / 1st / 7th pick /2007,"1,015,000"
33715,2018,was,QuicBr00,Brian Quick,WR,83,6,3,0,6.0,29,6/5/1989,6-3,215,appalachianst,St. Louis Rams / 2nd / 33rd pick /2012,"743,529"
33716,2018,was,QuinTr00,Trey Quinn,WR,14,3,2,1,Rook,23,12/7/1995,6-0,200,smu,Washington Redskins / 7th / 256th pick /2018,"451,760"
33717,2018,was,ReavJe00,Jeremy Reaves,FS,45,2,0,0,Rook,22,8/29/1996,5-11,205,South Alabama,None,"56,470"
33718,2018,was,ReedJo02,Jordan Reed,TE,86,13,8,4,5.0,28,7/3/1990,6-2,245,florida,Washington Redskins / 3rd / 85th pick /2013,"8,250,000"
33719,2018,was,RichPa01,Paul Richardson,WR,10,7,4,2,4.0,26,4/13/1992,6-0,170,colorado,Seattle Seahawks / 2nd / 45th pick /2014,"1,500,000"
33720,2018,was,RoulCh00,Chase Roullier,C,73,16,16,6,1.0,25,8/23/1993,6-4,310,wyoming,Washington Redskins / 6th / 199th pick /2017,"555,000"
33721,2018,was,SancMa00,Mark Sanchez,QB,6,2,1,0,9.0,32,11/11/1986,6-2,232,usc,New York Jets / 1st / 5th pick /2009,"322,941"
33722,2018,was,ScheBr00,Brandon Scherff,RG,75,8,8,3,3.0,27,12/26/1991,6-5,315,iowa,Washington Redskins / 1st / 5th pick /2015,"705,000"
33723,2018,was,SettTi00,Tim Settle,NT,97,16,0,1,Rook,21,7/11/1997,6-3,328,virginiatech,Washington Redskins / 5th / 163rd pick /2018,"480,000"
33724,2018,was,SimsCa00,Cam Sims,WR,89,1,0,0,Rook,22,1/6/1996,6-5,214,alabama,None,"369,882"
33725,2018,was,SmitAl03,Alex Smith,QB,11,10,10,6,13.0,34,5/7/1984,6-4,213,utah,San Francisco 49ers / 1st / 1st pick /2005,"13,000,000"
33726,2018,was,SmitMa03,Marcus Smith,DE,48,2,0,0,4.0,26,3/31/1992,6-3,258,louisville,Philadelphia Eagles / 1st / 26th pick /2014,"790,000"
33727,2018,was,SmitPr00,Preston Smith,LB,94,16,16,8,3.0,26,11/17/1992,6-5,265,mississippist,Washington Redskins / 2nd / 38th pick /2015,"1,223,094"
33728,2018,was,SpriJe00,Jeremy Sprinkle,TE,87,16,9,0,1.0,24,8/10/1994,6-5,252,arkansas,Washington Redskins / 5th / 154th pick /2017,"555,000"
33729,2018,was,StroGr00,Greg Stroman,CB,25,15,3,2,Rook,22,3/8/1996,5-11,180,virginiatech,Washington Redskins / 7th / 241st pick /2018,"480,000"
33730,2018,was,SundNi00,Nick Sundberg,C,57,13,0,1,8.0,31,7/29/1987,6-0,256,california,None,"915,000"
33731,2018,was,SweaDJ00,D.J. Swearinger,FS,36,15,15,7,5.0,27,9/1/1991,5-10,205,socarolina,Houston Texans / 2nd / 57th pick /2013,"3,000,000"
33732,2018,was,ThomCh03,Chris Thompson,RB,25,10,0,3,5.0,28,10/20/1990,5-8,195,floridast,Washington Redskins / 5th / 154th pick /2013,"1,996,000"
33733,2018,was,VigiZa00,Zach Vigil,LB,56,14,0,1,3.0,27,3/28/1991,6-2,238,utahst,None,"705,000"
33734,2018,was,WayxTr00,Tress Way,P,5,16,0,2,4.0,28,4/18/1990,6-1,216,oklahoma,None,"1,350,000"
33735,2018,was,WillTr21,Trent Williams,T,71,13,13,7,8.0,30,7/19/1988,6-5,320,oklahoma,Washington Redskins / 1st / 4th pick /2010,"9,850,000"

In [136]:
# Creating a new Sqlite Database to in newly created csv files in it
from sqlite3 import Error

def create_connection(db_file):
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        conn.close()

if __name__ == '__main__':
    create_connection(r"C:\\Users\Lenovo\Desktop\PROJECT\newNFL.db")

2.6.0

In [137]:
gameInfo_data = pd.read_csv(r"C:\\Users\Lenovo\Desktop\PROJECT\game_info.csv")
conn = sqlite3.connect(r"C:\\Users\Lenovo\Desktop\PROJECT\newNFL.db")

##push the dataframe to sql 
gameInfo_data.to_sql("gameInfo_data", conn, if_exists="replace")

In [138]:
#check whether data is inserted or not
dfq = pd.read_sql_query("SELECT * from gameInfo_data", conn)
dfq

    index  Unnamed: 0  season  home_score  away_score  temp  humidity
0       0           0    2002          23          21    61        58
1       1           1    2003          23          19    61        60
2       2           2    2004          23          20    60        58
3       3           3    2005          22          19    62        54
4       4           4    2006          21          20    61        54
5       5           5    2007          23          20    61        58
6       6           6    2008          23          21    61        60
7       7           7    2009          23          20    60        59
8       8           8    2010          23          21    59        50
9       9           9    2011          24          21    62        48
10     10          10    2012          24          22    61        57
11     11          11    2013          25          22    61        59
12     12          12    2014          24          21    61        53
13     13          13    2015          23          22    62        57
14     14          14    2016          24          21    62        57
15     15          15    2017          23          21    61       nan
16     16          16    2018          24          22    62       nan

In [139]:
team_roster_data = pd.read_csv(r"C:\\Users\Lenovo\Desktop\PROJECT\team_roster.csv")
team_roster_data.to_sql("team_roster_data", conn, if_exists="replace")

In [140]:
df = pd.read_sql_query("SELECT * from game_info", con)
df.to_sql("game_info", conn, if_exists="replace")

df = pd.read_sql_query("SELECT * from injury_status", con)
df.to_sql("injury_status", conn, if_exists="replace")

df = pd.read_sql_query("SELECT * from stats_offense", con)
df.to_sql("stats_offense", conn, if_exists="replace")

df = pd.read_sql_query("SELECT * from stats_kicking", con)
df.to_sql("stats_kicking", conn, if_exists="replace")

df = pd.read_sql_query("SELECT * from stats_team", con)
df.to_sql("stats_team", conn, if_exists="replace")

df = pd.read_sql_query("SELECT * from team_game_ids", con)
df.to_sql("team_game_ids", conn, if_exists="replace")

df = pd.read_sql_query("SELECT * from team_roster", con)
df.to_sql("team_roster", conn, if_exists="replace")

df = pd.read_sql_query("SELECT * from teams", con)
df.to_sql("teams", conn, if_exists="replace")

In [150]:
#Check whether tables are inserted or not
def sql_fetch(con):
 
    cursorObj = conn.cursor()
 
    cursorObj.execute('SELECT name from sqlite_master where type= "table"')
 
    print(cursorObj.fetchall())
sql_fetch(con)

[('gameInfo_data',), ('team_roster_data',), ('game_info',), ('injury_status',), ('stats_offense',), ('stats_kicking',), ('stats_team',), ('team_game_ids',), ('team_roster',), ('teams',), ('YearWise_AvgData_From_Game_Info',), ('dataForBarGraph',)]

In [142]:
#Create a Dataframe having year wise details of average humidity,temp,wind chill, wind mph
df_with_YearWise_AvgData = pd.read_sql_query("SELECT season as Year,avg(humidity) as avg_Humidity,avg(temp) as avg_Temp,avg(wind_chill) as avg_Wind_Chill,avg(wind_mph) as avg_Wind_Mph FROM 'game_info' group by season", conn)
df_with_YearWise_AvgData

    Year  avg_Humidity  avg_Temp  avg_Wind_Chill  avg_Wind_Mph
0   2002            58        61              24             6
1   2003            60        61              22             6
2   2004            58        60              21             7
3   2005            54        62              26             6
4   2006            54        61              26             5
5   2007            58        61              27             6
6   2008            60        61              32             6
7   2009            59        60              34             4
8   2010            50        59              32             5
9   2011            48        62              31             5
10  2012            57        61              33             4
11  2013            59        61              30             5
12  2014            53        61              34             4
13  2015            57        62              31             5
14  2016            57        62              43             6
15  2017           nan        61              61             6
16  2018           nan        62              62             5

In [143]:
df_with_YearWise_AvgData.to_sql("YearWise_AvgData_From_Game_Info", conn, if_exists="replace")

In [317]:
#Create a dataframe haviing year wise detail of no. of time home team has won when various criterias are below the average humidity,temp,wind chill and wind mph of that year
df_homeTeam_winsWith_belowAvg_Humidity = pd.read_sql_query("SELECT season as Year,count(home) as homeTeam_winsWith_belowAvg_Humidity FROM 'game_info' where humidity < (select avg(humidity) from 'game_info') and home = winner group by season", conn)
df_homeTeam_winsWith_belowAvg_Temp = pd.read_sql_query("SELECT season as Year,count(home) as homeTeam_winsWith_belowAvg_Temp FROM 'game_info' where temp < (select avg(temp) from 'game_info') and home = winner group by season", conn)
df_homeTeam_winsWith_belowAvg_WindChill = pd.read_sql_query("SELECT season as Year,count(home) as homeTeam_winsWith_belowAvg_WindChill FROM 'game_info' where wind_chill < (select avg(wind_chill) from 'game_info') and home = winner group by season", conn)
df_homeTeam_winsWith_belowAvg_WindMph = pd.read_sql_query("SELECT season as Year,count(home) as homeTeam_winsWith_belowAvg_WindMph FROM 'game_info' where wind_mph < (select avg(wind_mph) from 'game_info') and home = winner group by season", conn)

In [318]:
#Create a dataframe haviing year wise detail of no. of time home team has won when various criterias are above the average humidity,temp,wind chill and wind mph of that year
df_homeTeam_winsWith_aboveAvg_Humidity = pd.read_sql_query("SELECT season as Year,count(home) as homeTeam_winsWith_aboveAvg_Humidity FROM 'game_info' where humidity > (select avg(humidity) from 'game_info') and home = winner group by season", conn)
df_homeTeam_winsWith_aboveAvg_Temp = pd.read_sql_query("SELECT season as Year,count(home) as homeTeam_winsWith_aboveAvg_Temp FROM 'game_info' where temp > (select avg(temp) from 'game_info') and home = winner group by season", conn)
df_homeTeam_winsWith_aboveAvg_WindChill = pd.read_sql_query("SELECT season as Year,count(home) as homeTeam_winsWith_aboveAvg_WindChill FROM 'game_info' where wind_chill > (select avg(wind_chill) from 'game_info') and home = winner group by season", conn)
df_homeTeam_winsWith_aboveAvg_WindMph = pd.read_sql_query("SELECT season as Year,count(home) as homeTeam_winsWith_aboveAvg_WindMph FROM 'game_info' where wind_mph > (select avg(wind_mph) from 'game_info') and home = winner group by season", conn)

In [319]:
#Create a dataframe haviing year wise detail of no. of time away team has won when various criterias are below the average humidity,temp,wind chill and wind mph of that year
df_awayTeam_winsWith_belowAvg_Humidity = pd.read_sql_query("SELECT season as Year,count(away) as awayTeam_winsWith_belowAvg_Humidity FROM 'game_info' where humidity < (select avg(humidity) from 'game_info') and away = winner group by season", conn)
df_awayTeam_winsWith_belowAvg_Temp = pd.read_sql_query("SELECT season as Year,count(away) as awayTeam_winsWith_belowAvg_Temp FROM 'game_info' where temp < (select avg(temp) from 'game_info') and away = winner group by season", conn)
df_awayTeam_winsWith_belowAvg_WindChill = pd.read_sql_query("SELECT season as Year,count(away) as awayTeam_winsWith_belowAvg_WindChill FROM 'game_info' where wind_chill < (select avg(wind_chill) from 'game_info') and away = winner group by season", conn)
df_awayTeam_winsWith_belowAvg_WindMph = pd.read_sql_query("SELECT season as Year,count(away) as awayTeam_winsWith_belowAvg_WindMph FROM 'game_info' where wind_mph < (select avg(wind_mph) from 'game_info') and away = winner group by season", conn)

In [320]:
#Create a dataframe haviing year wise detail of no. of time away team has won when various criterias are above the average humidity,temp,wind chill and wind mph of that year
df_awayTeam_winsWith_aboveAvg_Humidity = pd.read_sql_query("SELECT season as Year,count(away) as awayTeam_winsWith_aboveAvg_Humidity FROM 'game_info' where humidity > (select avg(humidity) from 'game_info') and away = winner group by season", conn)
df_awayTeam_winsWith_aboveAvg_Temp = pd.read_sql_query("SELECT season as Year,count(away) as awayTeam_winsWith_aboveAvg_Temp FROM 'game_info' where temp > (select avg(temp) from 'game_info') and away = winner group by season", conn)
df_awayTeam_winsWith_aboveAvg_WindChill = pd.read_sql_query("SELECT season as Year,count(away) as awayTeam_winsWith_aboveAvg_WindChill FROM 'game_info' where wind_chill > (select avg(wind_chill) from 'game_info') and away = winner group by season", conn)
df_awayTeam_winsWith_aboveAvg_WindMph = pd.read_sql_query("SELECT season as Year,count(away) as awayTeam_winsWith_aboveAvg_WindMph FROM 'game_info' where wind_mph > (select avg(wind_mph) from 'game_info') and away = winner group by season", conn)

In [321]:
#Merging the average value dataframe with the count of home and away winners wih respect to below or above average humidity,temp etc.
df_forBar_Chart = pd.concat([df_with_YearWise_AvgData, df_homeTeam_winsWith_belowAvg_Humidity["homeTeam_winsWith_belowAvg_Humidity"], df_homeTeam_winsWith_belowAvg_Temp["homeTeam_winsWith_belowAvg_Temp"], df_homeTeam_winsWith_belowAvg_WindChill["homeTeam_winsWith_belowAvg_WindChill"], df_homeTeam_winsWith_belowAvg_WindMph["homeTeam_winsWith_belowAvg_WindMph"], df_homeTeam_winsWith_aboveAvg_Humidity["homeTeam_winsWith_aboveAvg_Humidity"], df_homeTeam_winsWith_aboveAvg_Temp["homeTeam_winsWith_aboveAvg_Temp"], df_homeTeam_winsWith_aboveAvg_WindChill["homeTeam_winsWith_aboveAvg_WindChill"], df_homeTeam_winsWith_aboveAvg_WindMph["homeTeam_winsWith_aboveAvg_WindMph"], df_awayTeam_winsWith_belowAvg_Humidity["awayTeam_winsWith_belowAvg_Humidity"], df_awayTeam_winsWith_belowAvg_Temp["awayTeam_winsWith_belowAvg_Temp"], df_awayTeam_winsWith_belowAvg_WindChill["awayTeam_winsWith_belowAvg_WindChill"], df_awayTeam_winsWith_belowAvg_WindMph["awayTeam_winsWith_belowAvg_WindMph"], df_awayTeam_winsWith_aboveAvg_Humidity["awayTeam_winsWith_aboveAvg_Humidity"], df_awayTeam_winsWith_aboveAvg_Temp["awayTeam_winsWith_aboveAvg_Temp"], df_awayTeam_winsWith_aboveAvg_WindChill["awayTeam_winsWith_aboveAvg_WindChill"], df_awayTeam_winsWith_aboveAvg_WindMph["awayTeam_winsWith_aboveAvg_WindMph"]], axis=1)
df_forBar_Chart.fillna(0, inplace=True)
pd.options.display.float_format = '{:,.0f}'.format
df_forBar_Chart.set_index('Year')
df_forBar_Chart[['Year','avg_Humidity','avg_Temp','avg_Wind_Chill','avg_Wind_Mph','homeTeam_winsWith_belowAvg_Humidity','homeTeam_winsWith_belowAvg_Temp','homeTeam_winsWith_belowAvg_WindChill','homeTeam_winsWith_belowAvg_WindMph','homeTeam_winsWith_aboveAvg_Humidity','homeTeam_winsWith_aboveAvg_Temp','homeTeam_winsWith_aboveAvg_WindChill','homeTeam_winsWith_aboveAvg_WindMph']]
df_forBar_Chart

,Year,avg_Humidity,avg_Temp,avg_Wind_Chill,avg_Wind_Mph,homeTeam_winsWith_belowAvg_Humidity,homeTeam_winsWith_belowAvg_Temp,homeTeam_winsWith_belowAvg_WindChill,homeTeam_winsWith_belowAvg_WindMph,homeTeam_winsWith_aboveAvg_Humidity,...,homeTeam_winsWith_aboveAvg_WindChill,homeTeam_winsWith_aboveAvg_WindMph,awayTeam_winsWith_belowAvg_Humidity,awayTeam_winsWith_belowAvg_Temp,awayTeam_winsWith_belowAvg_WindChill,awayTeam_winsWith_belowAvg_WindMph,awayTeam_winsWith_aboveAvg_Humidity,awayTeam_winsWith_aboveAvg_Temp,awayTeam_winsWith_aboveAvg_WindChill,awayTeam_winsWith_aboveAvg_WindMph
0,2002,58,61,24,6,49,74,106,73,78,...,50,83,35,41,70,51,48,69,40,59
1,2003,60,61,22,6,48,73,114,73,80,...,49,90,35,42,70,47,45,62,34,57
2,2004,58,60,21,7,52,69,103,80,64,...,49,72,42,56,81,49,51,59,34,66
3,2005,54,62,26,6,67,72,105,82,62,...,51,74,45,43,63,62,40,68,48,49
4,2006,54,61,26,5,62,63,94,76,48,...,50,68,45,53,67,74,45,70,56,49
5,2007,58,61,27,6,49,63,90,81,68,...,62,71,41,40,71,60,43,75,44,55
6,2008,60,61,32,6,55,52,78,90,57,...,73,61,32,48,65,62,55,67,50,53
7,2009,59,60,34,4,49,61,70,98,54,...,83,55,40,53,59,72,44,61,55,42
8,2010,50,59,32,5,57,65,74,90,49,...,74,58,46,47,67,65,40,72,52,54
9,2011,48,62,31,5,62,61,82,90,49,...,71,63,49,44,62,68,31,70,52,46
10,2012,57,61,33,4,54,58,73,103,51,...,80,50,41,51,58,75,44,62,55,38
11,2013,59,61,30,5,52,61,90,88,64,...,69,71,40,36,58,61,37,71,49,46
12,2014,53,61,34,4,58,67,79,100,54,...,75,54,45,45,46,80,42,67,66,32
13,2015,57,62,31,5,51,65,76,89,58,...,68,55,39,45,63,76,52,78,60,47
14,2016,57,62,43,6,20,56,51,77,26,...,104,78,21,41,38,56,18,69,72,54
15,2017,0,61,61,6,0,56,14,86,0,...,138,66,0,41,10,53,0,74,105,62
16,2018,0,62,62,5,0,65,10,89,0,...,149,70,0,49,5,56,0,57,101,50

In [322]:
# Importing data into csv and inserting it into sqlite database using connection conn
df_forBar_Chart.to_csv('dataForBarGraph.csv')
df_forBar_Chart.to_sql("dataForBarGraph", conn, if_exists="replace")